<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/misc.js" type="text/javascript"></script>
  <script src="scripts/angular-route.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css" type="text/css">
  <title>Playlistr</title>
</head>
<body ng-app='Playlistr'>
  <div class='container'>
    <h2 class='header-title'>Playlistr <small>collaborative playlists</small></h2>
    <div class='row'>
      <div class='col-sm-4' ng-controller='PlaylistsController as playlistsCtrl'>
        <ul class='pl-list'>
          <li ng-repeat='playlist in playlistsCtrl.playlists' class='pl-container panel panel-default'><a ng-href='#/playlists/{{playlist.link}}'><h5 class='pl-name'>{{playlist.name}}</h5></a></li>
          <li class='pl-container panel panel-default'><a href='#/playlist/new'><h5>New Playlist</h5></a></li>
        </ul>
        <div class='pl-info well'>
          <u><h5 ng-model='newPlaylistTitle' class='pl-info__name'>{{newPlaylistTitle}}</h5></u>
          <div class='pl-update btn btn-warning'>Update this list</div>
        </div>
      </div>

      <div class='col-sm-8' ng-view>
        <!--Ajaxed Content-->
      </div>
    </div>
  </div>
</body>
</html>
