<div class='container' ng-controller='MainController' >
  <h2 class='header-title'>Playlistr <small>collaborative playlists</small><h4>Powered by <span><img style='height:30px;width:50px;padding-left:5px;' src='http://upload.wikimedia.org/wikipedia/fr/b/bb/SoundCloud_logo.png'></span></h4>
  <div class='row'>
    <div class='col-sm-3 col-md-3'>

      <div class='user-info panel panel-default'>
        <div class='promo-header panel-heading'>
        <h5 class='pl-info__heading'>Ethan907</h5>
        </div>

        <div class='panel-body'>
          <h5 class='user-info__name'></h5>
          <img src='https://www.marqueed.com/assets/default_user-9fa815e2c71f8bad4f3643c9546ac4aa.png' class="user-pic" style='position:relative;height:100%; width: 100%;'>
          <div class='current-pl__stats'>
            <div class='current-pl__duration pl-stat'>
              <h4>2.5</h4>
              <p>minutes</p>
            </div>
            <div class='current-pl__song-count pl-stat'>
              <h4>3</h4>
              <p>songs</p>
            </div>
          </div>
        <!-- src='{{plFactory.getCurrent().songs[0].artwork}} -->
          <div class='current-pl'><!-- <img class='current-pl__img'> --><h5 class='current-pl__name'>{{plFactory.getCurrent().name}}</h5></div>
        </div>
      </div>

      <!-- side nav list of playlist -->
      <ul class='pl-list'>
        <li class='pl-container panel panel-default' ng-repeat='pl in playlists'><a ui-sref='playlist-nav.playlist' ng-click='setPlaylist(pl)'><h5 class='pl-name'>{{pl.name}}</h5></a><span class="glyphicon glyphicon-trash pl-delete" aria-hidden="true"></span></li>
        <li class='pl-container panel panel-default'><a ui-sref='playlist-nav.new'><h5>New Playlist</h5></a></li>
      </ul>
    </div>

     <div class='col-sm-9' ui-view>
      <!-- Ajaxed Content -->
    </div>
  </div>
</div>
<!-- <td>{{plFactory.getCurrent().duration.toFixed(1)}} minutes</td>
                <td>{{plFactory.getCurrent().songCount}} songs</td> -->