.pl-container {
	margin-bottom: 5px;
	padding: 10px 10px;
	list-style: none;
}
.pl-container h5 {
	margin: 0;
}
.pl-container:hover {
	background: rgba(100, 100, 100, 0.2);
}
.pl-list {
	padding: 0;
}
.pl-name {
	margin: 0;
	display: inline-block;
}
.pl-info {
	text-align: center;
}
.pl-delete {
	float: right;
	display: none;
}
.pl-info__heading {
	margin: 0;
}
.current-pl-body {
	position: relative;
}
.current-pl__stats {
	width: 100%;
	border-bottom: 1px solid rgba(10, 10, 10, 0.2);
	margin-bottom: 10px;
}
.current-pl__stats th {
	text-align: center;
}
.current-pl {
	width: 100%;
	display: inline-block;
}
.current-pl__img {
	float: left;
	height: 50px;
	width: 50px;
	margin-right:15px;
}
.current-pl__name {
	margin: 0;
	float: left;
}
.convers-container {
	position: relative;
	height: 300px;
}
.new-pl__title {
	margin-bottom: 10px !important;
}
.conversation-container {
	height: 500px;
	overflow-y: scroll;
}
.sent-message-container {
	border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}
.sent-message {
	position: relative;
	width: 100%;
	height: 70px;
	padding: 10px 10px 0 10px;
}
.song-info {
	margin: 0 15px 10px 60px;
}
.song-artwork {
	position: absolute;
	top: 10px;
	left: 10px;
	max-height: 50px;
	margin-right: 20px;
}
.song-actions {
	position: absolute;
	top:0;
	right:0;
	padding-left: 20px;
	background: linear-gradient(to right, rgba(245,245,245,0.3), rgba(245, 245, 245,1));
}
.song-extras {
	position: relative;
	width: 100%;
	display: none;
	border-top: 1px solid rgba(10, 10, 10, 0.2);
	padding: 10px;
	background: rgba(10, 10, 10, 0.1);
}
.song-extras table {
	width: 80%;
}
.song-extras td, th {
	text-align: center;
}
.song-extras td {
	padding: 0 5px;
}
.song-extras th {
	width: 20%;
}
.remove-song {
	position: absolute;
	top: 15px;
	right: 15px;
}

